{% extends "tracker/base.html" %}
{% block content %}
<h3>Items for Proceeding: {{ proceeding }} id: {{ proceeding_id }}</h3>
{% if item_list %}
	<table class="table table-bordered">
		<tr>
			<th style="width:20%">Item</th>
			<th style="width:10%">Parties</th>
			<th style="width:70%">Notes</th>
		</tr>
		{% for item, notes, line_count, contacts in item_list %}
		<tr>
			<td style="width:20%"><a href="{% url 'item' item.id %}">{{ item.name }}</a><br><font style="font-size: 10px;">{{ item.date }}</font></td>
			<td style="width:10%">
				{% for c,e in contacts %}
				<div title='{{ e }}'>{{ c }}</div>
				{% endfor %}
			<td style="width:70%">
				<textarea name='{{ item.id }}' cols=80 rows='{{ line_count }}' style="font-family: courier; font-size:12 px;">{{ notes }}
				</textarea>	
			</td>
		</td>
	{% endfor %}
	</table>
{% else %}
	<p>No items are available.</p>
	{% endif %}
	<p style="text-align:center";>
	<button type="button" class="btn btn-default" href="/tracker/{{proceeding_id}}/new_item/">Add New Item</button>
	</p>
{% endblock %}
